<!-- Header -->
<header class="bg-white shadow fixed w-full z-50">
    <div class="container mx-auto px-4 flex justify-between items-center py-4">
        <!-- Left HEader -->
        <div class="flex items-center">
            <button id="mobile-menu-toggle" class="text-gray-700 focus:outline-none">
                ☰
            </button>
            <!-- Logo -->
            <div class="text-xl font-bold text-blue-500 pl-5">
                <a href="/">
                    NIGHTKUN
                </a>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="hidden md:flex space-x-6">
            <a href="#" class="text-gray-700 hover:text-blue-500">หน้าหลัก</a>
            <a href="#" class="text-gray-700 hover:text-blue-500">ยอดนิยม</a>
            <a href="#" class="text-gray-700 hover:text-blue-500">กิจกรรม</a>
        </nav>

        <!-- Search Bar -->
        <div class="hidden md:flex items-center space-x-4">
            <input type="text" placeholder="ค้นหา..." class="py-1 px-3 border rounded-full text-sm focus:outline-none">
            <button class="bg-blue-500 text-white px-4 py-1 rounded-full hover:bg-blue-600">ค้นหา</button>
        </div>
    </div>
</header>