<aside class="w-full md:w-[250px] p-2 border-r border-gray-200 shadow-sm h-screen">
    <!-- Section: Profile -->
    <div class="mb-6 border-b-2">
        <div class="flex items-center space-x-4 p-2">
            <img src="/profilehome.jpg" alt="Profile Image" class="w-12 h-12 rounded-full shadow">
            <div class="relative select-none">
                <div>
                    <h2 class="text-lg font-bold text-gray-700">Nightkun</h2>
                    <p class="text-sm text-gray-500">ยินดีต้อนรับ!</p>
                </div>
                <span class="absolute -top-2 -right-12">Admin</span>
            </div>
        </div>
    </div>

    <nav class="mt-5">
        <ul class="space-x-3">
            <li
                class="hover:bg-blue-500 p-2 rounded-lg hover:text-white <%= active === 'Admin' ? 'bg-blue-500 text-white' : '' %>">
                <a href="/"
                    class="flex items-center space-x-3 text-gray-700 hover:text-white <%= active === 'Admin' ? 'text-white' : '' %>">
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13 12C13 11.4477 13.4477 11 14 11H19C19.5523 11 20 11.4477 20 12V19C20 19.5523 19.5523 20 19 20H14C13.4477 20 13 19.5523 13 19V12Z"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" />
                        <path
                            d="M4 5C4 4.44772 4.44772 4 5 4H9C9.55228 4 10 4.44772 10 5V12C10 12.5523 9.55228 13 9 13H5C4.44772 13 4 12.5523 4 12V5Z"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" />
                        <path
                            d="M4 17C4 16.4477 4.44772 16 5 16H9C9.55228 16 10 16.4477 10 17V19C10 19.5523 9.55228 20 9 20H5C4.44772 20 4 19.5523 4 19V17Z"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" />
                        <path
                            d="M13 5C13 4.44772 13.4477 4 14 4H19C19.5523 4 20 4.44772 20 5V7C20 7.55228 19.5523 8 19 8H14C13.4477 8 13 7.55228 13 7V5Z"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <span>หน้าหลัก</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>